<md-autocomplete md-selected-item-change="attach()" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in searchStock()" md-item-text="item.name" style="margin-top: 16px; margin-bottom: 16px;">
  <md-item-template>
    <div layout="row">
      <div md-highlight-text="searchText" style="width: 50px;">{{ item.ticker }}</div>
      <div md-highlight-text="searchText"flex>{{ item.name }}</div>
    </div>
  </md-item-template>
</md-autocomplete>

<pre>{{ selectedItem | json }}</pre>

<md-button ng-show="selectedItem" style="text-transform: initial;">
  {{ createWikiUrl(selectedItem) }}
</md-button>

<!-- <div>{{ createWikiUrl(selectedItem) }}</div> -->

<h1 class="md-title" style="text-align: center;">{{ getName() }}</h1>
<div id="stock" style="width: 100%; height-min: 100px;"></div>
<div id="batched" style="width: 100%; height-min: 100px;"></div>


<section layout="row" layout-sm="column" layout-align="center" layout-wrap>
  <md-input-container class="md-block" flex>
    <label>Company</label>
    <md-select ng-model="company" ng-change="update()">
      <md-option ng-repeat="option in companies" value="{{ option }}">
        {{ option }}
      </md-option>
    </md-select>
  </md-input-container>
</section>

<md-input-container class="md-block" flex>
  <md-switch ng-model="onlyTrends" ng-change="filter()">Trends</md-switch>
</md-input-container>

<div ng-cloak>
  <md-content layout-padding>
    <div layout-gt-xs="row" layout-align="center center">
      <div flex-gt-xs>
        <h4>Start</h4>
        <md-datepicker datepicker-validation-fix
          ng-model="boundries.start"
          md-min-date="start"
          md-max-date="end"
          md-placeholder="Enter date"
          ng-change="filter()">
        </md-datepicker>
      </div>
      <div flex-gt-xs>
        <h4>End</h4>
        <md-datepicker datepicker-validation-fix
          ng-model="boundries.end"
          md-min-date="start"
          md-max-date="end"
          md-placeholder="Enter date"
          ng-change="filter()">
        </md-datepicker>
      </div>
    </div>
  </md-content>
</div>

<section layout="row" layout-sm="column" layout-align="center" layout-wrap>
  <md-input-container class="md-block" flex>
    <label>Investment</label>
    <input type="number" ng-model="investment">
  </md-input-container>

  <md-input-container class="md-block" flex>
    <label>Duration (Days)</label>
    <input type="number" ng-value="getDuration()" disabled>
  </md-input-container>
</section>

<!-- <md-content class="md-padding">
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <div class="md-headline" flex style="text-align: center;">{{ amount() | number:0 }} shares</div>
    <div class="md-headline" flex style="text-align: center;">{{ cash() | number:2 }} $</div>
    <div class="md-headline" flex style="text-align: center;">ROI: {{ getROI() | number:2 }} %</div>
  </section>
</md-content> -->

<everage-cost info="cost"></everage-cost>
